.equipes{
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-top: 150px;
    align-items: center;
}

.equipeBox{
    margin: 10px;
    height: 500px;
    background-color: rgb(0 0 0 / 62%);
}

.nameTeam{
        background-color: rgba(0, 0, 0, 0.726);
    padding-inline-start: 40px;

    height: 50px;
    display: flex;
    align-items: center;
            font-family: 'Baloo Bhaijaan 2', cursive;
color: white;
    justify-content: start;
}

.headMan{
    height: 50px;
}

.members{
    display: grid;
    grid-template-rows: repeat(5, auto);
    align-items: center;
}
.members span{
                font-family: 'Baloo Bhaijaan 2', cursive;
color: white;
    display: flex;
    align-items: center;
}

.members img{
    padding: 20px;
}

.row{
        display: flex;
    justify-content: space-between;
}

.row span{
    font-size: 25px;
    text-transform: capitalize;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(0.5);
}

.links a{
    color: white;
    margin: 15px;
    font-size: 30px;
}

.youtube i {
    color: #e90000;
}

.twitch i{
    color: #8d028a;
}

.disabled{
   color: rgb(79 77 77 / 59%)!important;
}

.cardPage{
        bottom: 0!important;
    display: flex;
    /* margin-top: 50px; */
    position: relative;
    top: 100px;
    /* text-align: center; */
    justify-content: center;
}